
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @summary.description %>
</p>

<p>
  <strong>Note:</strong>
  <%= @summary.note %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @summary.resolution %>
</p>



<p>
  <strong>Starting day:</strong>
  <%= @summary.starting_day %>
</p>

<p>
  <strong>Close day:</strong>
  <%= @summary.close_day %>
</p>
<% if can? :edit, Summary %>
  <%= link_to 'Edit', edit_summary_path(@summary) %> |
<% end %>
<%= link_to 'Back', summaries_path %>
