<p id="notice"><%= notice %></p>

<h1>Summary Phases</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @summary_phases.each do |summary_phase| %>
      <tr>
        <td><%= link_to 'Show', summary_phase %></td>
        <td><%= link_to 'Edit', edit_summary_phase_path(summary_phase) %></td>
        <td><%= link_to 'Destroy', summary_phase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Summary Phase', new_summary_phase_path %>
